{
  "env": {
    "node": true,
    "es6": true,
    "jasmine": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
