{
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-console": 0,
    "no-var": "error",
    "strict": [2, "never"]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  }
}
